body.light-mode{
  color: #515151;
  background-color: #fff;
}

.light-mode a {
  color: #268bd2;
  text-decoration: none;
}

.light-mode a:hover,
.light-mode a:focus {
  text-decoration: underline;
}

.light-mode strong {
  color: #d0d0d0;
}

.light-mode h1, .light-mode h2, .light-mode h3, .light-mode h4, .light-mode h5, .light-mode h6 {
  color: #313131;
}

.light-mode .masthead {
  border-bottom: 1px solid #eee;
}

.light-mode .masthead-title {
  color: #505050;
}

.light-mode .masthead-title a {
  color: #505050;
}

.light-mode .sidebar a {
  color: #fff;
}

.light-mode .sidebar-toggle:active,
#sidebar-checkbox:focus ~ .light-mode .sidebar-toggle,
#sidebar-checkbox:checked ~ .light-mode .sidebar-toggle {
  color: #fff;
  background-color: #555;
}

.light-mode .page-title,
.light-mode .post-title,
.light-mode .post-title a {
  color: #303030;
}
