<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description" content="A blog focussed on the translation of Xianxia novels, like Immortal Executioner and Heaven Awakening Path">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">



  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.tagline }}
    {% else %}
      {% if page.category == "zhan-xian" %}Immortal Executioner | {% elsif page.category == "heaven-awakening" %}Heaven Awakening Path | {% endif %}{{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->

  <!--min.css-->
  <style type="text/css">
  {% include min.css %}
  </style>

  <style type="text/css">
    .show-comments {
      height: 50px;
      width: 100%;
      overflow:hidden;
      text-align:center;
      margin-top:10px;
    }
  </style>

  {% if page.layout != "post" %}
  <style type="text/css">
    @media (min-width: 30.1em) {
      .sidebar-toggle {
        position: fixed !important;
      }
    }
  </style>
  {% endif %}
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience.","dismiss":"Got it!","learnMore":"More info","link":"{{ site.baseurl}}/about.html","theme":"dark-bottom"};
</script>

{% include min.js.html %}

<script async type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->

<style type="text/css">
.cc_container a, .cc_container a:visited {
  color:#FF9900 !important;
}
.light-mode .cc_container a, .light-mode .cc_container a:visited {
  color:#31a8f0 !important;
}
.cc_container .cc_btn, .cc_container .cc_btn:visited {
  color: #000 !important;
}
.light-mode .cc_container .cc_btn, .light-mode .cc_container .cc_btn:visited {
  color: #000 !important;
}
</style>

<script>
function resetDisqus() {
  if(typeof DISQUS != 'undefined'){
    DISQUS.reset({
      reload: true,
      config: function () {
        this.page.url = '{{ site.baseurl }}{{ page.url }}';
        this.page.identifier = '{{ page.id }}';
      }
    });
  }
}

function changeMode(light){
  var elmt =  document.getElementsByTagName('body');
  if(elmt){
    if(light==true){
      elmt[0].className = 'light-mode';
    } else {
      elmt[0].className = '';
    }
  }
}

document.addEventListener("DOMContentLoaded", function(event) {
  var modeBox = document.getElementById('mode');
    modeBox.onclick = function() {
    if ( this.checked ) {
        changeMode(true);
        resetDisqus();
        Cookies.set('mode', 'light', { expires: 365 });
    } else {
        changeMode(false);
        resetDisqus();
        Cookies.remove('mode');
    }
  };
    if(Cookies.get('mode')=="light"){
    modeBox.checked = true;
    changeMode(true);
    resetDisqus();
  } else {
    modeBox.checked = false;
  }
});

function loaddisqus() {
var dsq = document.createElement('script');
dsq.type = 'text/javascript';
dsq.async = true;
dsq.src = "http://weletranslations.disqus.com/embed.js";
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
setTimeout(HideButtonAndScroll, 1000);
}

function HideButtonAndScroll(){
  var loadbutton = document.getElementById('disqus-comments');
  loadbutton.parentNode.removeChild(loadbutton);
  window.scrollBy(0,500);
}

function scrollToTop(scrollDuration) {
    const   scrollHeight = window.scrollY,
            scrollStep = Math.PI / ( scrollDuration / 15 ),
            cosParameter = scrollHeight / 2;
    var     scrollCount = 0,
            scrollMargin;
    requestAnimationFrame(step);
    function step () {
        setTimeout(function() {
            if ( window.scrollY != 0 ) {
                    requestAnimationFrame(step);
                scrollCount = scrollCount + 1;
                scrollMargin = cosParameter - cosParameter * Math.cos( scrollCount * scrollStep );
                window.scrollTo( 0, ( scrollHeight - scrollMargin ) );
            }
        }, 15 );
    }
}

</script>


</head>
