{% assign isOdd = page.chapter.number | modulo: 2 %}
{% case page.category %}
  {% when 'zhan-xian' %}
    {% if isOdd == 1 %}
      {% include _ads/alt/alt_zx_bot_rectangle.html %}
    {% else %}
      {% include _ads/zhan_xian/zx_bot_rectangle.html %}
    {% endif %}
  {% when 'heaven-awakening' %}
    {% include _ads/heaven_awakening/ha_bot_rectangle.html %}
  {% when 'sin-city' %}
    {% include _ads/teaser/teaser_bot_rectangle.html %}
  {% when 'martial-god' %}
    {% include _ads/martial_god/mg_bot_rectangle.html %}
{% endcase %}
