<div class="PageNavigation">
  {% if page.previous_chapter != "" and page.previous_chapter != nil and page.previous_chapter != blank %}
  <a class="prev" href="{{site.baseurl}}/{{page.category}}/{{page.category}}-chapter-{{page.previous_chapter}}.html">&laquo; Previous Chapter</a>
  {% else %}
  <a class="prev"></a>
  {% endif %}
  {% if page.next_chapter != "" and page.next_chapter != nil and page.next_chapter != blank %}
  <a class="next" href="{{site.baseurl}}/{{page.category}}/{{page.category}}-chapter-{{page.next_chapter}}.html">Next Chapter &raquo;</a>
  {% endif %}
</div>
