<form style="padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Weletranslations/main', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
  <p>Subscribe to Weletranslations:</p>
  <p>
    <input type="email" id="subscriber_email" style="margin-bottom:2px;" name="email" placeholder="your@email.com"/>
  </p>
  <input type="hidden" value="Weletranslations/main" name="uri"/>
  <input type="hidden" name="loc" value="en_US"/>
  <input type="submit" value="Subscribe" />
</form>
