{% assign isOdd = page.chapter.number | modulo: 2 %}
{% case page.category %}
  {% when 'zhan-xian' %}
   {% include _ads/alt/alt_zx_top_leaderboard.html %}
  {% when 'heaven-awakening' %}
    {% include _ads/heaven_awakening/ha_top_leaderboard.html %}
  {% when 'sin-city' %}
    {% include _ads/teaser/teaser_top_leaderboard.html %}
  {% when 'martial-god' %}
    {% include _ads/martial_god/mg_top_leaderboard.html %}
  {% else %}
    {% if page.isErrorPage != true %}
      {% include _ads/home_page/home_page_top_leaderboard.html %}
    {% endif %}
{% endcase %}
