<ins class="adsbygoogle bottomresponsive"
     style="display:block"
     data-ad-client="ca-pub-4313498266876631"
     data-ad-slot="1821344100"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- zx_bot_rectangle -->
<!--
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-4313498266876631"
     data-ad-slot="5840076907"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->
