<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {% if page.layout == "post" or page.title == "Home" %}
        <div class="banner_ad">
          <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- ng_leaderboard -->
          <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-4313498266876631"
          data-ad-slot="9212345709"
          data-ad-format="auto"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        {% endif %}

        {{ content }}
        
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <div id="go-to-top" style="background-color: #7f7f7f;color: #FFF;padding-left: 11px;padding-right: 11px;padding-bottom: 2px;margin-bottom: 10px;border-radius: 8px;position: fixed;bottom: 0%;right: 11px;opacity: 0.3;text-align: center;" alt="Top of Page">↑</div>
    </body>
</html>
