---
layout: compress
---
<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead" role="banner">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {% if page.layout == "post" %}
        <div class="banner_ad">
          {% if page.category == "zhan-xian" %}
            {% include _ads/zhan_xian/zx_top_leaderboard.html %}
          {% elsif page.category == "heaven-awakening" %}
            {% include _ads/heaven_awakening/ha_top_leaderboard.html %}
          {% elsif page.category == "sin-city" %}
            {% include _ads/teaser/teaser_top_leaderboard.html %}
          {% endif %}
        </div>
        {% elsif page.title == "Home" %}
        <div class="banner_ad">
          {% include _ads/home_page/home_page_top_leaderboard.html %}
        </div>
        {% endif %}

        {{ content }}

      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <!-- jquery -->
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src="{{site.baseurl}}/public/js.cookie-2.1.0.min.js"></script>

    <!-- Google Analytics -->
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-76443522-1', {
    'cookieName': '_ga',
    'cookieDomain': 'auto',
    'cookieExpires': 0
  });
  ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->

  <!-- Light-Mode script -->
  <script>
  $(document).ready(function () {
    if(Cookies.get('mode')=="light"){
      $('#mode').prop('checked', true);
      $('body').addClass('light-mode');
          if(typeof DISQUS != 'undefined'){
            DISQUS.reset({
              reload: true,
              config: function () {
                this.page.url = '{{ site.baseurl }}{{ page.url }}';
                this.page.identifier = '{{ page.id }}';
              }
            });
          }
    } else {
      $('#mode').prop('checked', false);
    }

    $('#mode').change(function(){

      if ($(this).prop('checked'))
      {
          $('body').addClass('light-mode');
          if(typeof DISQUS != 'undefined'){
            DISQUS.reset({
              reload: true,
              config: function () {
                this.page.url = '{{ site.baseurl }}{{ page.url }}';
                this.page.identifier = '{{ page.id }}';
              }
            });
          }
          Cookies.set('mode', 'light', { expires: 365 });
      }
      else
      {
          $('body').removeClass('light-mode');
          if(typeof DISQUS != 'undefined'){
            DISQUS.reset({
              reload: true,
              config: function () {
                this.page.url = '{{ site.baseurl }}{{ page.url }}';
                this.page.identifier = '{{ page.id }}';
              }
            });
          }
          Cookies.remove('mode');
      }
    });


    $('#go-to-top').click(function(){
      $('html,body').animate({ scrollTop: 0 }, 'fast');
      return false;
  });
  });
  </script>
<!--End light-mode script-->
<!--sidebar-toggle script-->
    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <!--end sidebar-toggle script-->
    
    <div id="go-to-top" style="background-color: #7f7f7f;color: #FFF;padding-left: 11px;padding-right: 11px;padding-bottom: 2px;margin-bottom: 10px;border-radius: 8px;position: fixed;bottom: 0%;right: 11px;opacity: 0.3;text-align: center;" alt="Top of Page">↑</div>
    </body>
</html>
