---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  
          {% if page.layout == "post" %}
          <div style="block">
        <div class="upper_rect">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- upper_rectangle -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-4313498266876631"
     data-ad-slot="4363343707"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
        <div class="lower_rect">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- lower_rectangle -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-4313498266876631"
     data-ad-slot="5840076907"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
        <br />
        </div>
        {% endif %}
</div>

<div class="PageNavigation">
  {% if page.previous_chapter != "" and page.previous_chapter != nil and page.previous_chapter != blank %}
  <a class="prev" href="{{site.baseurl}}/{{page.category}}/{{page.category}}-chapter-{{page.previous_chapter}}.html">&laquo; Previous Chapter</a>
  {% else %}
  <a class="prev"></a>
  {% endif %}
  {% if page.next_chapter != "" and page.next_chapter != nil and page.next_chapter != blank %}
  <a class="next" href="{{site.baseurl}}/{{page.category}}/{{page.category}}-chapter-{{page.next_chapter}}.html">Next Chapter &raquo;</a>
  {% endif %}
</div>

<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = '{{ site.baseurl }}{{ page.url }}';
this.page.identifier = '{{ page.id }}';
};

(function() {
var d = document, s = d.createElement('script');

s.src = '//weletranslations.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<br />
