---
layout: default
---

<div class="post" role="main">
  {% if page.is_sponsored == true %}
    {% include sponsored.html %}
  {% endif %}
  {% if page.is_preview == true %}
    <h2 class="preview-title">⟞&nbsp;Sneak peek&nbsp;⟝</h2>
  {% endif %}
  {% if page.has_book == true %}
  <h1 class="post-title">Book {{ page.book.number }} - {{ page.book.title }}</h1>
  {% endif %}
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.has_note == true %}
    {% include note.html %}
  {% endif %}
  {% if page.has_credits == true %}
    {% if page.has_note != true %}
  <hr class="no-hr-margin" />
    {% endif %}
    {% include credits.html %}
  {% endif %}

  <div class="disabled-unselectable-disabled">
  {{ content }}
  </div>
          {% if page.layout == "post" %}
          <div> <!--Ad Wrapper-->
            <div class="upper_rect">
              {% include upper_rect.html %}
            </div>
            <div class="lower_rect">
              {% include lower_rect.html %}
            </div>
            <br />
        </div> <!--End Ad Wrapper-->
        {% endif %}
</div>
<div class="ad_space"></div>
{% include navigation.html %}

{% comment %}
{% if page.layout == "post" %}
<div class="banner_ad" id="bot_banner">
  {% include bot_leader.html %}
</div>
{% endif %}
{% endcomment %}


<br /><hr class="subbox-divider"><!--<br />-->

{% include adblock_message.html %}
<br />
{% include donsub-boxes.html %}

{% if page.layout == "post" %}
<div class="banner_ad" id="bot_banner">
  {% include bot_leader.html %}
</div>
{% endif %}

{% if page.is_preview != true %}
  {% include comments.html %}
{% endif %}
<br />
