---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}

          {% if page.layout == "post" %}
          <div style="block">
        <div class="upper_rect">
          {% if page.category == "zhan-xian" %}
            {% include _ads/zhan_xian/zx_top_rectangle.html %}
          {% elsif page.category == "heaven-awakening" %}
            {% include _ads/heaven_awakening/ha_top_rectangle.html %}
          {% endif %}
        </div>
        <div class="lower_rect">
          {% if page.category == "zhan-xian" %}
            {% include _ads/zhan_xian/zx_bot_rectangle.html %}
          {% elsif page.category == "heaven-awakening" %}
            {% include _ads/heaven_awakening/ha_bot_rectangle.html %}
          {% endif %}
        </div>
        <br />
        </div>
        {% endif %}
</div>
<div class="ad_space"></div>
<div class="PageNavigation">
  {% if page.previous_chapter != "" and page.previous_chapter != nil and page.previous_chapter != blank %}
  <a class="prev" href="{{site.baseurl}}/{{page.category}}/{{page.category}}-chapter-{{page.previous_chapter}}.html">&laquo; Previous Chapter</a>
  {% else %}
  <a class="prev"></a>
  {% endif %}
  {% if page.next_chapter != "" and page.next_chapter != nil and page.next_chapter != blank %}
  <a class="next" href="{{site.baseurl}}/{{page.category}}/{{page.category}}-chapter-{{page.next_chapter}}.html">Next Chapter &raquo;</a>
  {% endif %}
</div>

{% if page.layout == "post" %}
<div class="banner_ad" id="bot_banner">
  {% if page.category == "zhan-xian" %}
    {% include _ads/zhan_xian/zx_bot_leaderboard.html %}
  {% elsif page.category == "heaven-awakening" %}
    {% include _ads/heaven_awakening/ha_bot_leaderboard.html %}
  {% endif %}
</div>
{% endif %}

{% include comments.html %}

<br />
